<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Start Tournament</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-5">
        <h1 class="text-center mb-4" th:text="'Start Tournament: ' + ${tournament.name}"></h1>
        <h2 class="text-center mb-4">Current Round: <span th:text="${round}"></span></h2>
        <div class="text-center mb-4">
            <p th:text="'Date: ' + ${tournament.date}"></p>
            <p th:text="'Region: ' + ${tournament.region}"></p>
        </div>

        <!-- Display the 4 groups of players in cards -->
        <div class="row">
            <div class="col-md-6 mb-4" th:each="group, iterStat : ${userGroups}">
                <div class="card">
                    <div class="card-header text-center" th:text="'Group ' + ${iterStat.index + 1}"></div>
                    <div class="card-body">
                        <ul class="list-group">
                            <!-- Loop through the players in each group -->
                            <li class="list-group-item" th:each="player : ${group}">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span th:text="'Player name: ' + ${player.username}"></span> - 
                                    <span th:text="'Rank: ' + ${player.rank}"></span>
                                    <select class="form-select" aria-label="Select rank" style="width: 100px;">
                                        <option th:each="num : ${#numbers.sequence(1, 8)}" 
                                                th:value="${player.username}" 
                                                th:text="${num}"></option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <form
            action="#"
            th:action="@{/admin/startTournament/{id}(id=${tournament.id})}"
            method="post"
            class="text-center"
        >
            <input type="hidden" name="tournamentId" th:value="${tournament.id}" />
            <button type="submit" class="btn btn-primary">Next Round</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
